@font-face {
    font-family: 'TWK Lausanne';
    src: url('/TWKLausanne-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('/TWKLausanne-400Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl Mono';
    src: url('/SuisseIntlMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --gutter: 1.75rem;
    --margin: 1.5rem;

    --container-large: 38rem;
    --container-small: 32rem;

    --border-radius-small: 0.5rem;
    --border-radius-medium: 1rem;
    --border-radius-large: 2rem;
    --border-radius-full: 9999px;

    --text-size-small: 0.875rem;
    --text-size-medium: 1rem;
    --text-size-large: 1.125rem;

    --container-padding-small: 1rem;
    --container-padding-large: 1rem;

    --text-color-primary: var(--neutral-1000);
    --text-color-secondary: var(--neutral-500);
    --text-color-inverse: var(--neutral-25);
    

    --border-color-primary: var(--neutral-200);

    --surface-background-idle: var(--neutral-25);
    --surface-background-hover: var(--neutral-50);
    --surface-background-active: var(--neutral-50);
    --surface-foreground-idle: var(--neutral-50);
    --surface-foreground-hover: var(--neutral-100);
    --surface-foreground-active: var(--neutral-100);
    --surface-inverse: var(--neutral-900);
    --surface-inverse-hover: var(--neutral-800);

    --scrim-background: rgba(0, 0, 0, 0.2);

    --font-family-sans: "TWK Lausanne", -apple-system, BlinkMacSystemFont, "Segoe UI", "Inter", "Helvetica Neue", Arial, sans-serif;
    --font-family-serif: "TWK Lausanne", "Merriweather", serif;
    --font-family-mono: "Suisse Intl Mono", monospace;

    --font-weight-normal: 400;
    --font-weight-bold: 500;

    --line-height-normal: 1.3;
    --line-height-relaxed: 1.6;

    --font-size-xsmall: 0.8125rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;

    --focus-color: var(--blue-600);

    --ease-out-fun: cubic-bezier(0.22, 1, 0.36, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color-primary: var(--neutral-25);
        --text-color-secondary: var(--neutral-200);
        --text-color-inverse: var(--neutral-1000);

        --border-color-primary: var(--neutral-800);

        --surface-background-idle: var(--neutral-1000);
        --surface-background-hover: var(--neutral-900);
        --surface-background-active: var(--neutral-900);
        --surface-foreground-idle: var(--neutral-900);
        --surface-foreground-hover: var(--neutral-800);
        --surface-foreground-active: var(--neutral-800);
        --surface-inverse: var(--neutral-25);
        --surface-inverse-hover: var(--neutral-50);

        --scrim-background: rgba(0, 0, 0, 0.8);

        --focus-color: var(--blue-600);
    }
}