# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

PUBLIC_SANITY_PROJECT_ID="your_sanity_project_id"
PUBLIC_SANITY_DATASET="production"
SANITY_API_READ_TOKEN="your_sanity_read_token"
SPOTIFY_CLIENT_ID="your_spotify_client_id"
SPOTIFY_CLIENT_SECRET="your_spotify_client_secret"
SPOTIFY_REFRESH_TOKEN="your_spotify_refresh_token"

PUBLIC_SANITY_VISUAL_EDITING_ENABLED="false"
