.button {
    background-color: var(--surface-background-idle);
    border: none;
    padding: 0 0.5rem;
    height: 2.5rem;
        width: auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    position: relative;
    transition: transform 0.6s var(--ease-out-fun);
    color: var(--text-color-primary);
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);

    &.is-small {
        font-size: 0.75rem;
        padding: 0 0.5rem;
        height: 2rem;
        width: auto;
    }

    &.is-square {
        width: 2.5rem;
        padding: 0;
    }

    &.is-square.is-small{
        width: 2rem;
        padding: 0;
    }


    

    & > * {
        pointer-events: none;
        transform: scale(0.952); /* Counter-scale to keep icon same size */
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--surface-background-hover);
        }
    }

    &:active {
        background-color: var(--surface-background-active);
    }

    &:focus-visible {
        outline: 2px solid var(--focus-color);
        outline-offset: 2px;
    }
}



.tooltip-container {
    @media (max-width: 420px) {
        display: none !important;
    }
}