.button {
    background-color: var(--surface-foreground-idle);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    position: relative;
    transition: transform 0.6s var(--ease-out-fun);
    color: var(--text-color-primary);
    

    & > * {
        pointer-events: none;
        transform: scale(0.952); /* Counter-scale to keep icon same size */
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--surface-foreground-hover);
            transform: scale(1.05);
        }
    }

    &:active {
        background-color: var(--surface-foreground-active);
    }

    &:focus-visible {
        outline: 2px solid var(--focus-color);
        outline-offset: 2px;
    }
}



.tooltip-container {
    @media (max-width: 420px) {
        display: none !important;
    }
}