@tailwind base;
@tailwind components;
@tailwind utilities;

.underline {
    text-decoration-color: #60A5FA;
    text-decoration: underline;
}

.bg-blur-light {
  backdrop-filter: blur( 14.0px );
  -webkit-backdrop-filter: blur( 14.0px );
  border-bottom: 1px solid rgba(0, 0, 0, 0.18); 
  z-index: 999; 
}

.hero-image {
  background-image: url(https://cdn.sanity.io/images/hdetr6ej/production/026165e9cb36884785b64831dccbb1f0ef9243c9-4000x6000.jpg?w=1000&h=1000&fit=max);
  background-size: cover;
  background-position-x: center;
  background-position-y: 34%;
}

.wrap {
  max-width: 6.4rem;
  max-height: 6.4rem;
  padding: 1rem;
  position: relative;
  left: 1px;
  background: linear-gradient(to right, #BFDBFE, #2563EB);
  padding: 3px;
}

.bg-image-1{
  position: relative;
  background-image: url(https://i.ytimg.com/vi/Govg_XmORLE/maxresdefault.jpg);
  background-size: cover;
}

.bg-image-2{
  position: relative;
  background-image: url(https://i.ytimg.com/vi/Govg_XmORLE/maxresdefault.jpg);
  background-size: cover;
}


.breakout {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.bg-image-3 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.0), rgba(0, 0, 0, 0.7)), url(https://i.imgur.com/WNSVOov.jpg);
  background-size: cover;
  background-position: center;
}

.bg-image-4 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.0), rgba(0, 0, 0, 0.7)),
  url(https://i.imgur.com/vUu3cfl.jpg);
  background-size: cover;
  background-position: center;
  
}

.bg-image-5 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.0), rgba(0, 0, 0, 0.7)), url(https://i.imgur.com/QqHkzuz.jpg);
  background-size: cover;
  background-position: center;
}

.bg-image-6 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.0), rgba(0, 0, 0, 0.7)), url(https://i.imgur.com/dSS4JMh.jpg);
  background-size: cover;
  background-position: center;
}

.bg-image-7 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.0), rgba(0, 0, 0, 0.7)), url(https://cdn.sanity.io/images/hdetr6ej/production/86de57fedf0f33d027ddad15a684f81a8a715aec-2855x1381.jpg?w=2000&h=2000&fit=max);
  background-size: cover;
  background-position: center;
}



@layer base {
      h1 {
        @apply text-4xl font-semibold text-black dark:text-white;
      }

      h2 {
        @apply text-2xl font-semibold mt-9 -mb-2 text-black dark:text-white;
      }

      h3 {
        @apply text-xl font-semibold mt-7 -mb-2 text-black dark:text-white;
      }

      h4 {
        @apply text-base font-semibold mt-7 mb-1 text-black dark:text-white;
      }

      h5 {
        @apply text-base font-semibold mt-7 mb-1 text-black dark:text-white;
      }

      h6 {
        @apply text-base font-semibold mt-7 mb-1 text-black dark:text-white;
      }

      p {
        @apply text-base my-6 text-black dark:text-white;
      }

      strong {
        @apply font-medium;
      }

      a{
        @apply underline;
      }

      ul {
        @apply list-disc my-6 text-black dark:text-white pl-6;
      }

      li {
        @apply mt-3;
      }

      figcaption{
        @apply  text-black dark:text-white text-base mt-2;
      }

    body {
      @apply min-h-screen m-0 w-full;
    }
    html {
      @apply min-h-screen m-0 w-full;
    }

  
  }