@font-face {
  font-family: "Lilex";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("/Lilex[wght].ttf") format("truetype");
}

@font-face {
  font-family: "Lilex";
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url("/Lilex-Italic[wght].ttf") format("truetype");
}

:root{
    --site-width: 38rem;
    --font-family-mono: "Lilex", monospace;
    --background: hsla(0, 0%, 100%);
    --foreground: hsla(0, 0%, 97%);
    --content: hsla(0, 0%,10%);
    --content-muted: hsla(0, 0%, 40%);
    --content-link: oklch(70.5% 0.22 37);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --site-width: 40rem;
    --font-family-mono: "Lilex", monospace;
    --background: hsla(0, 0%, 5%);
    --foreground: hsla(0, 0%, 8%);
    --content: hsla(0, 0%,100%);
    --content-muted: hsla(0, 0%, 60%);
    --content-link: oklch(70.5% 0.22 37);
  }
}

html {
    background-color: var(--background);
    color: var(--content);
    font-family: var(--font-family-mono);
    font-size: 0.8125rem;
    line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 0.8125rem;
    line-height: 1.75;
    font-weight: 400;
}

p {
   margin: 0;
}

.prose {
    text-wrap: pretty;
}

.prose p {
    margin-bottom: 1rem;
}

a {
    color: var(--content);
    &:hover {
        background-color: oklch(70.5% 0.22 37);
    }
    &.link-nostyle:hover {
        background-color: transparent;
    }
}


.container {
    max-width: var(--site-width);
    margin: 0 auto;
    padding-inline: 1rem;
}

.text-colour-secondary {
   color: var(--content-muted);
}
