---

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;

---

<section class="page-heading">
    <h1 class="text-size-normal font-weight-normal">{title}</h1>
    {description && (
        <p style="margin-bottom: 2.5rem;" class="text-color-muted">{description}</p>
    )}

    <slot />
  </section>

<style>
    .page-heading {
        padding: 4rem 0rem;
    }
</style>