---
import LinkCard from "../LinkCard/index.astro";
---


    <div class="list">
      <LinkCard link="https://www.makebuild.studio" image="/makebuild.svg" title="Webflow Project Lead @ MakeBuild" description="2023 - Present" />
      <LinkCard link="https://www.liammews.com/" image="/mews.svg" title="Independent Design Engineer" description="2022 - Present" />
      <LinkCard link="https://www.savills.com/" image="/savills.svg" title="In-House Designer @ Savills" description="2016 - 2022" />
    </div>