---
import Layout from "../layouts/layout.astro";
import { loadQuery } from "../sanity/lib/load-query";
import PortableText from "../components/PortableText.astro";
import LinkCard from "../components/LinkCard/index.astro";
import Resume from "../components/Resume/index.astro";

// GROQ query to fetch the short bio document
const BIO_QUERY = `*[_type == "bio" && name == "Short Bio"][0] {
  _id,
  name,
  content
}`;

const { data: bio } = await loadQuery<{ name: string; content: any[] }>({
  query: BIO_QUERY,
});
---

<Layout 
  title="Liam Mews" 
  image="/favicon.svg"
>
    <section class="section">
      <h1 class="text-size-normal font-weight-normal">Liam Mews</h1>
      <p style="margin-bottom: 2.5rem;" class="text-color-muted">Designer/Developer</p>

      {bio && bio.content && (
        <div class="rich-text">
          <PortableText portableText={bio.content} />
        </div>
      )}
    </section>

    <section class="section">
      <h2 style="margin-bottom: 2rem;" class="text-size-normal font-weight-normal">Recent Work</h2>
      <div class="list">
        <LinkCard link="https://www.typeform.com/" image="/typeform.svg" title="Typeform x MakeBuild" description="Supporting a site migration to Webflow with a multi-platform design system." />
        <LinkCard link="https://www.sky.com/" image="/sky.svg" title="Sky x MakeBuild" description="Empowering a in-house web team with a Webflow design system." />
        <LinkCard link="https://www.gooddesign.tools/" image="/gdt.svg" title="Good Design Tools" description="An online collection of the best tools and resources for designers." />  
      </div>
    </section>

    <section class="section">
      <h2 style="margin-bottom: 2rem;" class="text-size-normal font-weight-normal">Résumé</h2>
      <Resume />
    </section>



    <section class="section">
      <h2 style="margin-bottom: 2rem;" class="text-size-normal font-weight-normal">Content</h2>
      <div class="list">
        <LinkCard link="/moments" icon="image" title="Moments" description="A collection of moments" />
        <LinkCard link="/inventory" icon="grid" title="Inventory" description="Well-designed products I own" />
      </div>
    </section>
</Layout>
