---
import Layout from "../layouts/layout.astro";
import GridItem from "../components/GridItem/index.astro"
import WorkHomeCard from "../components/HomeCards/WorkHomeCard/index.astro"
import SpotifyHomeCard from "../components/HomeCards/SpotifyHomeCard/index.astro"
import WeatherHomeCard from "../components/HomeCards/WeatherHomeCard/index.astro"
import InventoryHomeCard from "../components/HomeCards/InventoryHomeCard/index.astro"

---

<Layout 
  title="Home - Liam Mews" 
  description="Welcome to Liam Mews' personal website. Explore moments, inventory, and more."
  image="/favicon.svg"
>
	<main>
    <div class="grid">

      <GridItem title="Liam Mews" description="Designer/Developer" titleStyle="center" link="/about" />

      <WorkHomeCard title="Typeform" description="2025" link="/typeform" image="" />

      <GridItem title="Home Office - Late 2025" description="Featured" titleStyle="left-reverse" link="/writing/home-office-late-2025" />

      <WorkHomeCard title="Sky" description="2025" link="/sky" image="" />

      <GridItem title="Moments" description="00" link="/moments" />

      <WorkHomeCard title="Good Design Tools" description="2023" link="/good-design-tools" image="" />

      <WeatherHomeCard />

      <InventoryHomeCard />

      <SpotifyHomeCard />


    </div>
	</main>
</Layout>
