---
import Layout from "../layouts/layout.astro";
import { loadQuery } from "../sanity/lib/load-query";
import MomentCard from "../components/ArchiveCards/MomentCard/index.astro";
import Modal from "../components/Modal/index.astro";
import Button from "../components/Button/index.astro";
import { Icon } from "astro-icon/components";

// GROQ query to fetch all moments
const MOMENTS_QUERY = `*[_type == "moments"] | order(_createdAt desc) {
  _id,
  name,
  image {
    asset->{
      _id,
      url
    },
    alt
  }
}`;

const { data: moments } = await loadQuery({
  query: MOMENTS_QUERY,
});
---

<Layout 
  title="Moments"
  image="/favicon.svg"
>
  <div slot="nav">
    <Button ariaLabel="Open Moments" modalId="moments" action="open" tooltip="⌘I">
      <Icon name="info" />
    </Button>
  </div>
  <main>
    <Modal id="moments" keyboardShortcut="i">
      <div slot="title">What is this?</div>
      <div>
        <p>Moments</p>
      </div>
    </Modal>

    <div class="grid">
      {(moments as any[]).map((moment: any) => (
        <div>
          {moment.image && (
            <MomentCard
              title={moment.name}
              image={moment.image.asset.url}
              link={moment.link}
            />
          )}
        </div>
      ))}
    </div>
    {(moments as any[]).length === 0 && (
      <p>No moments found. Add some moments in your Sanity Studio!</p>
    )}
  </main>
</Layout>