/* Modal Overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: var(--scrim-background);
  z-index: 10002;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal[aria-hidden="false"] {
  display: block;
  opacity: 1;
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: var(--surface-background-idle);
  border-radius: var(--border-radius-medium);
  max-width: 22rem;
  width: 90%;
  max-height: 25rem;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.6s var(--ease-out-fun);
  
  /* Hide scrollbar while maintaining scroll functionality */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  @media (max-width: 768px) {
    width: 95%;
    max-width: 40rem;
  }
}

.modal-content::-webkit-scrollbar {
  display: none; /* WebKit browsers (Chrome, Safari, Edge) */
}

.modal[aria-hidden="false"] .modal-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal.closing .modal-content {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding-small);
  position: sticky;
  top: 0;
  background-color: var(--surface-background-idle);
  z-index: 10003;
}

.modal-title {
  font-weight: var(--font-weight-bold);
  color: var(--text-color-secondary);
  padding-left: .5rem;
  font-size: var(--font-size-small);
}

/* Modal Body */
.modal-body {
  padding-top: var(--container-padding-large);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: var(--container-padding-large);
  font-size: var(--font-size-small);
}

.modal_body-content {
  padding: 0rem var(--container-padding-small);
  padding-bottom: var(--container-padding-small);
}
